@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#canvas {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.name{
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: black;
    font-weight: 700;
    font-size: 13px;
}